<div id="index">
  <div id="dashboard">
    
  </div>
  <div id="content">
    <div id="message">
      <div id="main"> Find an awesome class to take. </div>
      <div id="sub"> Browse by grade level, subject area or both! </div>
    </div>
    <div id="categories">
      <%= render :partial => 'tags', :locals => { :tags => @tags } %>
    </div>

    <div id="streams">
      <% @streams.each_with_index do |s, i| %>
        <div class="preview">
          <%= render :partial => 'stream_preview', :locals => {:stream => s} %>
        </div>
        
        <% if i % 2 == 1 %>
          <div style="clear:both"></div>
        <% end %>
      <% end %>
    </div>
    <div style="clear:both"></div>
  </div>
  
  <div id="bottom">
    <div id="create_message">
      <div id="main">Have something valuable to teach?</div>
      <div id="sub">Create your very own stream!</div>
    </div>
    <br />
    <%= link_to "New Stream", new_stream_path, :id => "new_stream_button" %>
  </div>
</div>
