<div id="index">
  <div id="dashboard">
    
  </div>
  <div id="content">
    <div id="message">
      <div id="main"> Find an awesome class to take. </div>
      <div id="sub"> Browse by grade level, subject area or both! </div>
    </div>
    <div id="categories">
      <%= render :partial => 'tags', :locals => { :tags => @tags } %>
    </div>

    <div id="streams">
      <% @streams.each_with_index do |s, i| %>
        <div class=<%= "preview #{i % 2 == 0 ? 'left' : 'right'}" %>>
          <%= render :partial => 'stream_preview', :locals => {:stream => s} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
