<div id="dashboard">
  Hello!
</div>
<div id="streamlist">
  <table id="positions">
    <tr>
      <% 6.upto(12) do |i| %>
        <td>
          <%= i %>
        </td>
      <% end %>
    </tr>
  </table>
  <div id="slider">
  </div>
</div>
