<div id="index">
  <div id="dashboard">
    Hello!
  </div>
  <div id="categories">
    <div id="grade_slider">
      <%= render :partial => 'tags', :locals => { :tags => @tags } %>
    </div>

    <div id="streams">
      <% @streams.each_with_index do |s, i| %>
        <% if i % 2 == 0 %>
          <div class="preview left">      
        <% else %>  
          <div class="preview right">
        <% end %>
          <%= render :partial => 'stream_preview', :locals => {:stream => s} %>
        </div>  
      <% end %>
    </div>
  </div>
</div>