@import "mixins.css.scss";

#stream {
  @include rounded();
  
  width: 1200px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  
  background-color: $gray;
  
  #streamtable {
    #video_preview {
      /* margin: 0 auto; */
      width: 450px;
    }
  
    #description {
      width: 450px;
      margin-left: 200px;
      margin-top: 0px;
      padding: 10px;
      text-align: left;
      
      #subscribe {
        text-align: center;
        width: 200px;
        padding: 3px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.66);
        @include rounded();
      }
    }
    
    #subscribe:hover {
      cursor: hand;
      cursor: pointer;
    }
  }
  
  #comments {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 700px;
  }
}
