@import "mixins.css.scss";

/* streams/index */
#dashboard {
  border: 1px solid black;
  float: left;
  width: 300px;
  margin: 25px;
}

#index {
  #categories {
    float: left;
    margin-left: 10px;
    width: 900px;  
    
    #grade_slider {
      margin-bottom: 40px;
    }
    
    .tag {
      margin-top: 40px;
      display: inline;
    }
  }
}

#grade_slider {
  #grade_badge {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 30px;
    @include rounded(40px);
    text-align: center;
    padding: 20px;
    background-color: #43B8E4;
    font-weight: bold;
  }
  
  #slider {
    margin-left: auto;
    margin-right: auto;    
    width: 80%;
  }
}

#streams {
  margin-top: 50px;
  margin-left: 100px; 
  
  .preview {
    position: relative;
    float: left;
    width: 300px;
    margin-right: 80px;
    margin-bottom: 30px;
    .preview_image {
      height: 150px;
      border: solid grey 1px;
      &:hover {
        .preview_description { display: block }
      }
    }
    
    .preview_description {
      color: black;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 298px;
      height: 150px;
      background-color: rgba(67, 184, 228, 0.5);
      display: none;
    }
    
    .preview_title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 5px;
    }
    
    .preview_publisher {
      display: inline;
      margin-right: 80px;
    }
    
    .preview_time {
      display: inline;
    }
  }
}

.tag_button {
  color: white;
  cursor: pointer;
  margin: 10px;
  padding: 10px 30px;
  background-color: grey;
  @include rounded();
  @include shadow(2px 2px 8px rgba(0, 0, 0, 0.2))
}

.tag_button_pressed {
  color: white;
  cursor: pointer;  
  margin: 10px;
  padding: 10px 30px;
  background-color: #43B8E4;
  @include rounded();
  @include shadow(inset 4px 4px 12px rgba(0, 0, 0, 0.2))
}

/* streams/new */
#form_container {
  @include rounded();
  background-color: #F0F0F0;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  @include shadow(8px 8px 12px rgba(0, 0, 0, 0.4))
}

#instruction {
  text-align: center;
  color: #113D52;
}

#explanation {
  text-align: center;
}

.field {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#continue {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 3px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.66);
  @include rounded();
}

#continue:hover {
  cursor: hand;
  cursor: pointer;
}

#submit {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/* streams/show */
#stream {
  @include rounded();
  background-color: #F0F0F0;
  width: 1200px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  
  #streamtable {
    #video_preview {
      /* margin: 0 auto; */
      width: 450px;
    }
  
    #description {
      width: 450px;
      margin-left: 200px;
      margin-top: 0px;
      padding: 10px;
      text-align: left;
      
      #subscribe {
        text-align: center;
        width: 200px;
        padding: 3px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.66);
        @include rounded();
      }
    }
    
    #subscribe:hover {
      cursor: hand;
      cursor: pointer;
    }
  }
  
  #comments {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 700px;
  }
}

